

/* CSS */
.history-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 30px;
  width: 100%;
  border-radius: 6px;
  border: none;
  margin-bottom: 10px;
  color: #fff;
  background: #007bff;
  background-origin: border-box;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.history-btn:hover {
    background: #0275d8;
    background-origin: border-box;
}
#right-top {
    border: solid 1px black;
    margin-bottom: 20px;
}